
body {
    max-width: 1500px;
    margin: 0 auto;
}

nav {
    background-color: #263a6e;
}

h2:nth-of-type(odd),
h3 span {
    color: #bbc4d8;
}

.evens h2,
.evens h3 span {
    color: #f8f9fa;
}

.evens {
    background-color: #bbc4d8;
    padding-bottom: 2.5rem;
}

.jumbotron {
    background:linear-gradient(0deg, rgba(3, 63, 144, 0.5), rgba(3, 63, 144, 0.5)), url(../img/jumbotron.png);
    background-size: cover;
}

.jumbotron div {
    padding-left: 39px;
}

#work p,
#work h3 {
    color: #343a40;
}

#work img,
.social-link {
    opacity: .8;
    transition: all .3s ease;
}

#work img:hover,
.social-link:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    #about img {
        height: 250px;
        width: 250px;
    }
}